<div class="container-fluid bg-dark text-secondary pt-3">
  <div class="row px-xl-5 pt-3">
    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
      <h5 class="text-secondary text-uppercase mb-4">Thông tin liên lạc</h5>
      <p class="mb-4">Hãy đến với chúng tôi, nơi khách hàng , chất lượng và uy tín luôn đặt lên hàng đầu </p>
      <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, Việt Nam, Đông Lào</p>
      <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>email@example.com</p>
      <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">Chọn Nhanh Cửa Hàng</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Trang Chủ</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Cửa Hàng Chúng Tôi</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chi Tiết Cửa Hàng</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Giỏ Hàng</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Thủ Tục Thanh Toán</a>
            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Liên Hệ Chúng Tôi</a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">Tài Khoản Của Bạn</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Tài Khoản</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đăng ký</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đăng Nhập</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Quên Mật Khẩu</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đổi Mật Khẩu</a>
            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Phản Hồi Của Bạn</a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">bản tin</h5>
          <p>Hãy đến với chúng tôi ... shop định mệnh</p>
          <form action="">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Địa chỉ email của bạn">
              <div class="input-group-append">
                <button class="btn btn-primary">Tìm Kiếm</button>
              </div>
            </div>
          </form>
          <h6 class="text-secondary text-uppercase mt-4 mb-3">Thông tin theo dõi</h6>
          <div class="d-flex">
            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="col-md-6 px-xl-0">
      <p class="mb-md-0 text-center text-md-left text-secondary">
        &copy; Đã đăng ký tên  <a class="text-primary" href="#">miền</a>. Thiết kế bởi
        <a class="text-primary" href="https://htmlcodex.com"> &copy; Háck Bất Tử</a>
      </p>
    </div>
    <div class="col-md-6 px-xl-0 text-center text-md-right">
      <img class="img-fluid-1" src="assets/img/payments.png" alt="">
    </div>
  </div>
</div>
