<div class="bg-primary text-secondary pt-3" >
  <div class="px-xl-5 pb-4">
      <div class="row">
        <div class="col-md-3">
          <h5 class="text-secondary text-uppercase mb-4">Thông tin liên lạc</h5>
          <p class="mb-4">Hãy đến với chúng tôi, nơi khách hàng , chất lượng và uy tín luôn đặt lên hàng đầu </p>
          <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, Việt Nam, Đông Lào</p>
          <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>email@example.com</p>
          <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
        </div>
        <div class="col-md-3">
          <h5 class="text-secondary text-uppercase mb-4">Chọn Nhanh Cửa Hàng</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Trang Chủ</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Cửa Hàng Chúng Tôi</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chi Tiết Cửa Hàng</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Giỏ Hàng</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Thủ Tục Thanh Toán</a>
            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Liên Hệ Chúng Tôi</a>
          </div>
        </div>
        <div class="col-md-3">
          <h5 class="text-secondary text-uppercase mb-4">Tài Khoản Của Bạn</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Tài Khoản</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đăng ký</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đăng Nhập</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Quên Mật Khẩu</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đổi Mật Khẩu</a>
            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Phản Hồi Của Bạn</a>
          </div>
        </div>
        <div class="col-md-3">          <h5 class="text-secondary text-uppercase mb-4">bản tin</h5>
          <p>Hãy đến với chúng tôi</p>
          <form action="">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Địa chỉ email của bạn">
              <div class="input-group-append">
                <button class="btn btn-primary">Tìm Kiếm</button>
              </div>
            </div>
          </form>
          <h6 class="text-secondary text-uppercase mt-4">Thông tin theo dõi</h6>
          <div class="d-flex">
            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
  </div>
</div>
