<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/book/return}">Sách đã mượn</a>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Tên sách</th>
        <th>Số lượng</th>
        <th>Chi tiết</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bookOjc: ${book}">
        <td th:text="${bookOjc.id}"></td>
        <td th:text="${bookOjc.name}"></td>
        <td th:text="${bookOjc.quantity}"></td>
        <td>
            <a th:href="@{/book/detail(id=${bookOjc.id})}">Detail</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>