<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/common::head}">

</head>
<body>
<header th:replace="~{/common::header}">

</header>

<div class="main">
    <div class="book-container container">
        <table class="table">
            <thead>
            <tr class="table-header-line">
                <th>STT</th>
                <th>Tên sách</th>
                <th>Số lượng</th>
                <th>Lựa chọn</th>
                <th>Lựa chọn</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}" class="table-body-line">
                <td th:text="${book.getId()}"></td>
                <td th:text="${book.getName()}"></td>
                <td th:text="${book.getQuantity()}"></td>
                <td>
                    <a href="" class="btn btn-primary text-white ">Mượn sách</a>
                </td>
                <td>
                    <a href="" class="btn btn-dark text-white">Trả sách</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block th:replace="~{/common::library}">

</th:block>
</body>
</html>