<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Tên sách</th>
        <th>Tác giả</th>
        <th>Số lượng</th>
        <th>Trả sách</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bookOjc : ${returnBook}">
        <td th:text="*{bookOjc.id}"></td>
        <td th:text="*{bookOjc.name}"></td>
        <td th:text="*{bookOjc.author}"></td>
        <td th:text="*{bookOjc.quantity}"></td>
        <td>
            <a th:href="@{return(id=${bookOjc.id})}">trả sách</a>
        </td>

    </tr>
    </tbody>
    <a href="/book">Trở về</a>
</table>
</body>
</html>