<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Tên sách</th>
        <th>Tác giả</th>
        <th>Số lượng</th>
        <th>Trả sách</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${bookId}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{author}"></td>
        <td th:text="*{quantity}"></td>
        <td>
            <a th:href="@{return(id=${bookId.id})}">trả sách</a>
        </td>

    </tr>
    </tbody>
    <a href="/book">Trở về</a>
</table>
</body>
</html>