<div class="container pt-3 pt-lg-4">

  <h1 class="oneshop-page-title">Chính sách vận chuyển và giao nhận</h1>
  <!-- article -->
  <article id="post-9046" class="post-9046 page type-page status-publish hentry">

    <h2>1. Phạm vi giao hàng</h2>
    <p>– Tech Shop có thể giao hàng trên 63 tỉnh thành trong cả nước.</p>
    <p>– Cam kết sẽ giao hàng cho khách trong thời gian nhanh nhất có thể.</p>
    <h2>2. Phí giao hàng</h2>
    <p>– Đối với các mặt hàng Laptop và PC sẽ được giao miễn phí toàn quốc nếu khách hàng thanh toàn 100% giá trị hàng hóa. Đối với các đơn hàng ship COD phí sẽ do đơn vị vận chuyển Viettel POST, NHẤT TÍN, GHTK quy định.</p>
    <p>– Trong phạm vi TP Đà Nẵng,Tech Shop miễn phí giao hàng cho tất cả đơn hàng PC và laptop lắp đặt nghiệm thu tận nơi, bảo hành tận nơi cho PC trong TP ĐÀ NẴNG.</p>
    <p>– Đối với các mặt hàng linh, phụ kiện khác, Tech Shop sẽ sử dụng đơn vị vận chuyển GRAB, Ahamove, GHTK, phí vận chuyển so do các đơn vị này quy định.</p>
    <p>– Cam kết 100% hàng chính hãng, hưởng chính sách đổi trả, bảo hành trên toàn quốc.</p>
    <h2>3. Điều kiện thanh toán</h2>
    <p>– Với những đơn hàng giao tại nhà có giá trị lớn, quý khách vui lòng đặt cọc ít nhất 10% hoặc thanh toán 100% giá trị đơn hàng.</p>
    <p>– Quý khách liên hệ với&nbsp;hostline&nbsp;: 0236 383 55 66&nbsp; hoặc liên hệ trực tiếp với kinh doanh để được tư vấn chi tiết.</p>
    <p>&nbsp;</p>


  </article>
  <!-- /article -->



</div>
