<!-- Cart Start -->
<div class="container" style="padding-bottom: 90px">
  <div class="row col-12 pt-5">
    <div class="col-lg-8 table-responsive mb-5" id="table-card">
      <table  class="table table-light table-borderless table-hover text-center mb-0">
        <thead class="thead-dark">
        <tr>
          <th>Sản Phẩm</th>
          <th>Giá</th>
          <th>Số Lượng</th>
          <th>Tổng Tiền</th>
          <th>Xóa</th>
        </tr>
        </thead>
        <tbody class="align-middle">
        <tr>
          <td class="align-middle"><img src="assets/img/product-1.jpg" alt="" style="width: 50px;"> Product Name</td>
          <td class="align-middle">$150</td>
          <td class="align-middle">
            <div class="input-group quantity mx-auto" style="width: 100px;">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-minus">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="1">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-plus">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </td>
          <td class="align-middle">$150</td>
          <td class="align-middle">
            <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
          </td>
        </tr>
        <tr>
          <td class="align-middle"><img src="assets/img/product-2.jpg" alt="" style="width: 50px;"> Product Name</td>
          <td class="align-middle">$150</td>
          <td class="align-middle">
            <div class="input-group quantity mx-auto" style="width: 100px;">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-minus">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="1">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-plus">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </td>
          <td class="align-middle">$150</td>
          <td class="align-middle">
            <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
          </td>
        </tr>
        <tr>
          <td class="align-middle"><img src="assets/img/product-3.jpg" alt="" style="width: 50px;"> Product Name</td>
          <td class="align-middle">$150</td>
          <td class="align-middle">
            <div class="input-group quantity mx-auto" style="width: 100px;">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-minus">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="1">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-plus">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </td>
          <td class="align-middle">$150</td>
          <td class="align-middle">
            <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
          </td>
        </tr>
        <tr>
          <td class="align-middle"><img src="assets/img/product-4.jpg" alt="" style="width: 50px;"> Product Name</td>
          <td class="align-middle">$150</td>
          <td class="align-middle">
            <div class="input-group quantity mx-auto" style="width: 100px;">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-minus">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="1">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-plus">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </td>
          <td class="align-middle">$150</td>
          <td class="align-middle">
            <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <div  class="pt-3 pl-1 bg-dark">
        <h6 class="w-100 text-white">Ghi Chú Đơn Hàng : </h6>
        <textarea class="w-100"></textarea>
      </div>

    </div>
    <div class="col-lg-4" id="table-card-1">
      <div class="bg-light mb-5" style="padding: 15px 30px 30px">

          <h5 class=" position-relative text-uppercase w-100 mb-3"><b
            class="text-dark">Tóm tắt giỏ hàng :</b></h5>

        <form class="mb-30" action="">
          <div class="input-group">
            <input type="text" class="form-control p-4" placeholder="Mã giảm giá">
            <div class="input-group-append">
              <button class="btn btn-primary font-weight-bold">Áp dụng mã giảm giá</button>
            </div>
          </div>
        </form>

        <div class="border-bottom pb-2">
          <div class="d-flex justify-content-between mb-3">
            <h6>Tiền hàng</h6>
            <h6>$150</h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Phí ship</h6>
            <h6 class="font-weight-medium">$10</h6>
          </div>
        </div>

        <div class="pt-2">
          <div class="d-flex justify-content-between mt-2">
            <h5>Tổng tiền</h5>
            <h5>$160</h5>
          </div>
          <button class="btn btn-block btn-primary font-weight-bold my-3 py-2">
            Tiến hành thanh toán
          </button>
        </div>
        <div id="myPaypalButtons"></div>

      </div>

    </div>
<!--    <div id="message-card"><h1 class="text-center text-white d-none">Chưa Có Sản Phẩm Trong Giỏ Hàng</h1></div>-->
  </div>
</div>
<!-- Cart End -->



