<div class="container" style="margin-top: 10%">
  <h2>Create Contract</h2>
  <div class="row">
    <div class="mb-3 mt-3 col-6">
      <label>Start date</label>
      <input type="date" class="form-control" >
    </div>

    <div class="mb-3 mt-3  col-6">
      <label>End date</label>
      <input type="date" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 mt-3 col-6 ">
      <label>Deposit</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3 mt-3 col-6 ">
      <label>Total money</label>
      <input type="text" class="form-control" readonly >
    </div>
  </div>
  <div class="row">
    <div class="mb-3 mt-3 col-6 ">
      <label>Customer</label>
      <select class="form-control">
        <option value="">Choose Customer</option>
        <option ></option>
      </select>
    </div>

    <div class="row">
      <div class="mb-3 mt-3 col-6">
        <label>Service</label>
        <select class="form-control">
          <option value="">Choose service</option>
          <option value="1" >Villa</option>
          <option value="2" >House</option>
          <option value="3" >Room</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-success"><i class="fa-solid fa-plus-minus"></i></button>
    <button type="button" class="btn btn-danger">
      <a style="color: white" [routerLink]="['/contract-list']"><i class="fa-solid fa-share"></i></a>
    </button>
  </div>
</div>
