<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: css}">

</head>

<body>
<header class="fixed-top " th:replace="~{home:: #header}">
</header>
<section id="hero">
    <div class="antiHero">
    </div>
    <div class="container hero-container" data-aos-delay="150">
        <h2>Thêm mới hợp đồng</h2>
        <form style="color: white" th:action="@{/contract/create}" method="post" th:object="${contract}"
              novalidate="novalidate">
            <div class="row">
                <div class="mb-3 mt-3 col-6">
                    <label>Ngày bắt đầu</label>
                    <input type="date" class="form-control" th:field="*{startDate}">
                </div>

                <div class="mb-3 mt-3  col-6">
                    <label>Ngày kết thúc</label>
                    <input type="date" class="form-control" th:field="*{endDate}">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 mt-3 col-6 ">
                    <label>Tiền cọc</label>
                    <input type="text" class="form-control" th:field="*{deposit}">
                </div>
                <div class="mb-3 mt-3 col-6 ">
                    <label>Tổng tiền</label>
                    <input type="text" class="form-control" th:field="*{totalMoney}" readonly>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 mt-3 col-6 ">
                    <label>Khách hàng thuê dịch vụ</label>
                    <select th:field="*{customer}" class="form-control">
                        <option value="">Chọn khách hàng</option>
                        <option th:each="item, loop : ${listCustomer}"
                                th:text="${item.name}"
                                th:value="${item.id}"></option>
                    </select>
                </div>

                <div class="mb-3 mt-3 col-6 ">
                    <label>Nhân viên</label>
                    <select th:field="*{employee}" class="form-control">
                        <option value="">Chọn nhân viên</option>
                        <option th:each="item, loop : ${listEmployee}"
                                th:text="${item.name}"
                                th:value="${item.id}"></option>
                    </select>
                </div>
            </div>

                <div class="mb-3 mt-3 ">
                    <label>Dịch vụ</label>
                    <select th:field="*{facility}" class="form-control">
                        <option value="">Chọn dịch vụ</option>
                        <option th:each="item, loop : ${listFacility}"
                                th:text="${item.name}"
                                th:value="${item.id}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-danger">Thêm</button>
                <button type="button" class="btn btn-danger"><a style="color: white" th:href="@{/contract}">Quay lại</a>
                </button>

        </form>
    </div>
</section>
<footer th:replace="~{home :: #footer}"></footer>
</body>
<div th:replace="~{home :: css2}">

</div>
</html>