<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/product/delete}" method="post" th:object="${product}" novalidate="novalidate">
    <table th:border="1">
        <tr>
            <td>Id</td>
            <td>
                <input type="text" th:field="*{id}" readonly>
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{name}">
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <input type="text" th:field="*{price}">
            </td>
        </tr>
        <tr>
            <td>color</td>
            <td>
                <input type="text" th:field="*{color}">
            </td>
        </tr>
        <tr>
            <td>status</td>
            <td>
                <input type="text" th:field="*{status}">
            </td>
        </tr>
    </table>
    <button>Delete</button>
    <button><a href="/product">Back Home</a></button>
</form>
</body>
</html>