<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a th:href="@{/product/create}">create new</a>
</p>

<table border="1px">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Views</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}">
        <td th:text="${product.getId()}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getGia()}"></td>
        <td th:text="${product.getTrangThai()}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${product.getId()})}">Edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${product.getId()})}">Delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=${product.getId()})}">View</a></td>
    </tr>
    </tbody>
</table>
</body>

</html>