<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/product/create}" method="post" th:object="${product}" novalidate="novalidate">
    <table th:border="1">
        <tr>
            <td>Id</td>
            <td>
                <input type="text" th:field="*{id}">
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{name}">
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <input type="text" th:field="*{gia}">
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <input type="text" th:field="*{trangThai}">
            </td>
        </tr>
    </table>
    <button>Create</button>
</form>
</body>
</html>