<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
    <!--          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"-->
    <!--            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"-->
    <!--            crossorigin="anonymous"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
</head>
<body>
<header class="fixed-top " th:replace="~{home:: #header}">
</header>
<section id="hero">
    <div class="antiHero">
    </div>
    <div class="container hero-container" data-aos-delay="150">
        <h2>Thêm mới cơ sở</h2>
        <form style="color: white" th:action="@{/facility/create}" method="post" th:object="${facility}"
              novalidate="novalidate">
            <div class="row">
                <div class=" mb-3 mt-3 col-6">
                    <label>Cơ sở thuê</label>
                    <select id="selectFacility" th:field="*{facilityType}" class="form-control" onchange="getFrom()">
                        <option value="">Chọn cơ sở thuê</option>
                        <option th:each="item, loop : ${listFacilityType}"
                                th:text="${item.name}"
                                th:value="${item.id}"></option>
                    </select>
                </div>
                <div class="mb-3 mt-3 col-6">
                    <label>Tên</label>
                    <input type="text" class="form-control" th:field="*{name}">
                </div>
            </div>

            <div class="row">
                <div class="mb-3 mt-3  col-6">
                    <label>Diện tích</label>
                    <input type="text" class="form-control" th:field="*{area}">
                </div>
                <div class="mb-3 mt-3  col-6">
                    <label>Chi phí</label>
                    <input type="text" class="form-control" th:field="*{cost}">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 mt-3  col-6">
                    <label>Số lượng người</label>
                    <input type="text" class="form-control" th:field="*{maxPeople}">
                </div>
                <div class="mb-3 mt-3  col-6">
                    <label>Kiểu thuê</label>
                    <select th:field="*{rentType}" class="form-control">
                        <option th:each="item, loop : ${listRentType}"
                                th:text="${item.name}"
                                th:value="${item.id}"></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 mt-3  col-6" id="standardRoom" style="display: none">
                    <label>Loại phòng</label>
                    <input type="text" class="form-control" th:field="*{standardRoom}">
                </div>
                <div class="mb-3 mt-3  col-6" id="descriptionOtherConvenience" style="display: none">
                    <label>Tiện ích khác</label>
                    <input type="text" class="form-control"
                           th:field="*{descriptionOtherConvenience}">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 mt-3  col-3" id="poolArea" style="display: none">
                    <label>Diện tích hồ bơi</label>
                    <input type="text" class="form-control" th:field="*{poolArea}">
                </div>
                <div class="mb-3 mt-3 col-3" id="numberOfFloors" style="display: none">
                    <label>Số tầng</label>
                    <input type="text" class="form-control" th:field="*{numberOfFloors}">
                </div>
                <div class="mb-3 mt-3 col-6" id="facilityFree" style="display: none">
                    <label>dịch vụ Free</label>
                    <input type="text" class="form-control" th:field="*{facilityFree}">
                </div>
            </div>
            <button type="submit" class="btn btn-danger">Thêm</button>
            <button type="button" class="btn btn-danger">
                <a style="color: white" th:href="@{/facility}">Quay lại</a>
            </button>
        </form>
    </div>
</section>
<footer th:replace="~{home :: #footer}"></footer>
</body>
<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/purecounter/purecounter.js}"></script>
<script th:src="@{/assets/vendor/aos/aos.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"-->
<!--        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"-->
<!--        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"-->
<!--        crossorigin="anonymous"></script>-->
<script>
    function getFrom() {
        let getValue = $('#selectFacility').val()
        if (getValue === '1') {
            $('#standardRoom').show()
            $('#descriptionOtherConvenience').show()
            $('#poolArea').show()
            $('#numberOfFloors').show()
            $('#facilityFree').hide()
        }
        if (getValue === '2') {
            $('#poolArea').hide()
            $('#facilityFree').hide()
        }
        if (getValue === '3') {
            $('#poolArea').show()
            $('#facilityFree').show()
        }
    }
</script>
</html>