<!-- Shop Detail Start -->
<div class="container pb-1 pt-4">
  <div class="row px-xl-5">
    <div class="col-lg-5 mb-30 h-auto">
      <div class="product-item bg-light h-100 p-30">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="assets/img/carousel/product-1.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-7 h-auto mb-30">
      <div class="h-100 bg-light p-30">
        <h3>Laptop Acer Aspire 7 A715 42G R4XX</h3>
        <div class="d-flex mb-3">
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(đánh giá 5s của khách hàng)</small>
          </div>
        </div>
        <h3 class="font-weight-semi-bold mb-4">$150.00</h3>
        <p class="mb-4">
          CPU: AMD R5 5500U <br>
          RAM: 8GB <br>
          Ổ cứng: 256GB SSD <br>
          VGA: NVIDIA GTX1650 4G <br>
          Màn hình: 15.6 inch FHD <br>
          HĐH: Win 11 <br>
          Màu: Đen <br>
        <div class="d-flex align-items-center mb-4 pt-2">
          <div class="input-group quantity mr-3" style="width: 130px;">
            <div class="input-group-btn">
              <button class="btn btn-primary btn-minus">
                <i class="fa fa-minus"></i>
              </button>
            </div>
            <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
            <div class="input-group-btn">
              <button class="btn btn-primary btn-plus">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Thêm vào giỏ hàng
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-xl-5">
    <div class="col">
      <div class="bg-light p-30">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-pane-1">
            <h3 class="mb-3">Mô Tả Sản Phẩm</h3>
            <h5 class="mb-3">Laptop gaming tốt nhất phân khúc</h5>
            <p>Acer Aspire 7 2020 A715 42G R4XX tích hợp card đồ họa NVIDIA GTX1650 4GB GDDR6 ra mắt năm 2020, là laptop
              chơi game tốt nhất phân khúc. Không chỉ vậy, phiên bản này còn mang thiết kế mới gọn gàng và sexy hơn.
              Aspire 7 2020 được trang bị hệ thống tản nhiệt mạnh mẽ bậc nhất trong phân khúc, thừa hưởng công nghệ từ
              các dòng máy cao cấp hơn của Acer, cùng cấu hình đỉnh cao, giúp cho người dùng có thể vừa chơi game vừa
              làm việc ở bất cứ lúc nào.</p>
            <h5 class="mb-3">Thiết kế tối ưu trải nghiệm chơi game</h5>
            <p>Hệ thống hai quạt tản nhiệt, 3 ống đồng fullsize, heatsink size lớn giúp Acer Aspire 7 A715 2020 tối ưu
              khả năng tản nhiệt. Bản lề thiết kế chắc chắn ít bị rung lắc khi chơi, có khả năng mở góc 180 độ giúp bảo
              vệ máy tốt hơn.</p>
            <h5 class="mb-3">Dịch vụ bảo hành 3S1</h5>
            <p>3S1 là chính sách bảo hành nhanh của Acer dành cho game thủ. Aspire 7 được hưởng Bảo hành 3S1 siêu nhanh:
              bảo hành nhanh, trong vòng 3 ngày kể cả thứ 7 và chủ nhật, quá 3 ngày 1 đổi 1 sản phẩm mới có giá trị
              tương đương hoặc cao hơn.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Shop Detail End -->


