<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: css}">

</head>
<body>
<header class="fixed-top " th:replace="~{home:: #header}">
</header>
<section id="hero">
    <div class="antiHero">
    </div>
    <div class="container hero-container" data-aos-delay="150">
        <h2>Thêm mới khách hàng</h2>
        <form style="color: white" th:action="@{/customer/create}" method="post" th:object="${customerDto}"
              novalidate="novalidate">
            <div class="row">
                <div class="mb-3 mt-3 col-6">
                    <label>Tên</label>
                    <input type="text" class="form-control" th:field="*{name}">
                    <div style="color: #34f30e" th:errors="*{name}"></div>
                </div>


                <div class="mb-3 mt-3  col-6">
                    <label>Ngày sinh</label>
                    <input type="date" class="form-control" th:field="*{birthday}">
                    <div style="color: #34f30e" th:errors="*{birthday}"></div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 mt-3 col-6 ">
                    <label>Giới tính</label>
                    <select th:field="*{gender}" class="form-control">
                        <option th:value="0">Nữ</option>
                        <option th:value="1">Nam</option>
                    </select>
                </div>

                <div class="mb-3 mt-3 col-6 ">
                    <label>CMND</label>
                    <input type="text" class="form-control" th:field="*{idCard}">
                    <div style="color: #34f30e" th:errors="*{idCard}"></div>

                </div>
            </div>
            <div class="row">
                <div class="mb-3 mt-3 col-6 ">
                    <label>SĐT</label>
                    <input type="text" class="form-control" th:field="*{phone}">
                    <div style="color: #34f30e" th:errors="*{phone}"></div>

                </div>
                <div class="mb-3 mt-3  col-6" id="descriptionOtherConvenience">
                    <label>Email</label>
                    <input type="email" class="form-control" th:field="*{email}">
                    <div style="color: #34f30e" th:errors="*{email}"></div>

                </div>
            </div>
            <div class="row">
                <div class="mb-3 mt-3 col-6 ">
                    <label>Loại khách</label>
                    <select th:field="*{customerType}" class="form-control">
                        <option th:each="item, loop : ${listCustomerType}"
                                th:text="${item.name}"
                                th:value="${item.id}"></option>
                    </select>
                </div>

                <div class="mb-3 mt-3 col-6 ">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" th:field="*{address}">
                    <div style="color: #34f30e" th:errors="*{address}"></div>

                </div>
            </div>
            <button type="submit" class="btn btn-danger">Thêm</button>
            <button type="button" class="btn btn-danger">
                <a style="color: white"  th:href="@{/customer}">Quay lại</a>
            </button>
        </form>
    </div>
</section>
<footer th:replace="~{home :: #footer}"></footer>
</body>
<div th:replace="~{home :: css2}">
</div>
</html>