<div class="container" style="margin-top: 10%">
  <h2>Create Lô Hàng</h2>
  <form [formGroup]="loHangFormCreate" (ngSubmit)="create()" *ngIf="loHangFormCreate">

    <div class="row">
      <div class="mb-3 mt-3 col-6">
        <label>Mã lô hàng</label>
        <input type="text" class="form-control" formControlName="maLoHang">

        <small style="color: red" *ngIf="getMaLoHang().hasError('required') &&
         getMaLoHang().touched|| submit">Không được để rống!</small>

        <small style="color: red" *ngIf="getMaLoHang().hasError('pattern') &&
         getMaLoHang().touched || submit">(LH-xxxx), X là số nguyên!</small>
      </div>
      <div class="mb-3 mt-3  col-6">
        <label>Sản phẩm</label>
        <select class="form-control" formControlName="sanPham">
          <option value="">Chọn sản phẩm</option>
          <option *ngFor="let c of sanPham" [ngValue]="c">{{c.tenSanPham}}</option>
        </select>

        <small style="color: red" *ngIf="getSanPham().hasError('required') &&
         getSanPham().touched || submit">Không được để rống!</small>
      </div>
    </div>

    <div class="row">
      <div class="mb-3 mt-3 col-6 ">
          <label>Số lượng</label>
          <input type="text" class="form-control" formControlName="soLuong">

        <small style="color: red" *ngIf="getSoLuong().hasError('required') &&
         getSoLuong().touched || submit">Không được để rống!</small>

        <small style="color: red" *ngIf="getSoLuong().hasError('pattern') &&
         getSoLuong().touched || submit">Phải là số nguyên dương!</small>
      </div>
      <div class="mb-3 mt-3 col-6 ">
        <label>Ngày nhập hàng</label>
        <input type="date" class="form-control" formControlName="ngayNhap">

        <small style="color: red" *ngIf="getNgayNhap().hasError('required') &&
         getNgayNhap().touched || submit">Không được để rống!</small>
      </div>
    </div>

    <div class="row">
      <div class="mb-3 mt-3 col-6 ">
        <label>Ngày sản xuất</label>
        <input type="date" class="form-control" formControlName="ngaySanXuat">

        <small style="color: red" *ngIf="getNgaySanXuat().hasError('required') &&
         getNgaySanXuat().touched || submit">Không được để rống!</small>
      </div>
      <div class="mb-3 mt-3 col-6 ">
        <label>Ngày hết hạn</label>
        <input type="date" class="form-control" formControlName="ngayHetHan">

        <small style="color: red" *ngIf="getNgayHetHan().hasError('required') &&
         getNgayHetHan().touched || submit">Không được để rống!</small>
      </div>
    </div>
    <button type="submit" class="btn btn-success" (click)="showToastr()" style="margin: 5px"> <i class="fa-solid fa-plus-minus"></i></button>
    <button type="button" class="btn btn-danger" [routerLink]="['/loHang-list']"><i class="fa-solid fa-share"></i>
    </button>
  </form>
</div>
