<div class="container" style="margin-top: 10%">
  <h1 style="margin-left: 45%">Lô hàng</h1>

  <div class="row">
    <div class="col-6">
      <a class="btn btn-success" [routerLink]="['/loHang-create']"><i class="fa-solid fa-plus-minus"></i></a>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Mã lô hàng</th>
      <th>Tên sản phẩm</th>
      <th>Giá tiền</th>
      <th>Đơn vị</th>
      <th>Số lượng</th>
      <th>Ngày nhập </th>
      <th>Ngày sản xuất</th>
      <th>Ngày hết hạn</th>
      <th colspan="2" style="text-align: center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of loHang | paginate: {itemsPerPage: 5, currentPage: p}; index as i">
      <td>{{c.maLoHang}}</td>
      <td>{{c.sanPham.tenSanPham}}</td>
      <td>{{c.sanPham.giaTien | currency: 'VND'}}</td>
      <td>{{c.sanPham.donVi}}</td>
      <td>{{c.soLuong}}</td>
      <td>{{c.ngayNhap |date:'dd-MM-yyyy'}}</td>
      <td>{{c.ngaySanXuat |date:'dd-MM-yyyy'}}</td>
      <td>{{c.ngayHetHan |date:'dd-MM-yyyy'}}</td>
      <td>
        {{c.ngayHetHan |date:'dd-MM-yyyy'}}

      </td>
      <td>

        <!-- Button delete modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showDelete(c)">
          <i class="fa-solid fa-trash-can"></i>
        </button>

      </td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="loHang.length == 0" style="border-top: none; text-align: center"> No data</p>
</div>
<div class="container">
  <pagination-controls (pageChange)="p = $event" class="d-flex flex-row-reverse"></pagination-controls>
</div>

<!-- Modal delete -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: red" id="exampleModalLabel">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xoá thông tin lo hàng <span style="color: #d21111">{{tenSanPham}}</span> ngày nhập
        <span style="color: #d21111">{{ngayNhap}}</span> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
          <i class="fa-solid fa-rectangle-xmark"></i>
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="showToastr()"
                (click)="deleteLoHang(idDelete)">
          <i class="fa-solid fa-trash-can"></i></button>
      </div>
    </div>
  </div>
</div>
<!--end modal-->

