<div class="container pt-3 pt-lg-4">
  <h1 class="oneshop-page-title">Chính sách đổi trả và nhập lại</h1>
  <!-- article -->
  <article id="post-28473" class="post-28473 page type-page status-publish hentry">

    <h3><strong>1. ĐIỀU KIỆN ĐỔI TRẢ HÀNG</strong></h3>
    <p>– Sản phẩm đổi hàng phải đáp ứng đầy đủ những điều kiện sau đây:</p>
    <p>– Thời gian đổi trả sản phẩm trong vòng&nbsp;7 ngày kể từ ngày bán hàng (căn cứ vào hóa đơn bán hàng,&nbsp;ngày trên tem bảo hành).</p>
    <p>– Sản phẩm bị lỗi do nhà sản xuất.</p>
    <p>– Sản phẩm bị lỗi kỹ thuật hoặc không tương thích.</p>
    <p>– Sản phẩm và phụ kiện đi kèm phải còn nguyên vẹn (không móp méo, trầy xước…) đầy đủ như lúc ban đầu khi khách nhận hàng ( kể cả bao bì, thùng, hộp kèm theo).</p>
    <p>– Trường hợp phụ kiện kèm theo máy bị lỗi kỹ thuật chỉ đổi phụ kiện.</p>
    <p><em>– Không đổi lại với các sản phẩm nằm ngoài điệu kiện đổi trả hàng nêu trên.</em></p>
    <p><em><strong>Trong điều kiện không đủ điều kiện đổi trả sản phẩm sẽ áp dụng chính sách bảo hành.</strong></em></p>
    <p><strong>&nbsp;</strong></p>
    <ol start="2">
      <li><strong> CHÍNH SÁCH ĐỔI TRẢ VÀ CÁCH TÍNH PHÍ</strong></li>
    </ol>
    <p><strong><em>1.1 </em></strong><strong>Thời gian áp dụng chính sách:</strong></p>
    <p>– Trong 7 ngày đầu mua và sử dụng sản phẩm, nếu thấy không phù hợp khách hàng có thể trả lại sản phẩm và được đổi sang sản phẩm khác sau khi trừ đi khoản chi phí khấu hao dựa trên số ngày thực tế đã sử dụng sản phẩm.</p>
    <p><strong><em>1.2 </em></strong><strong>Quy định cách tính chi phí khấu hao</strong><strong><em>:</em></strong></p>
    <p>+ Thời gian sử dụng từ 01-03 ngày: Tính phí 10%<br>
      + Thời gian sử dụng từ 03-05 ngày: Tính phí 15%<br>
      + Thời gian sử dụng từ 05-07 ngày: Tính phí 20%</p>
    <p><em>Lưu ý: Chính sách chỉ áp dụng trong 07 ngày đầu sử dụng, số ngày được tính từ lúc khách hàng nhận được sản phẩm. Chi phí % khấu hao trả hàng được tính theo giá bán trên hóa đơn.</em></p>
    <ol start="3">
      <li><strong> Điều kiện áp dụng chính sách:</strong></li>
    </ol>
    <p>– Sản phẩm trả lại phải còn đủ vỏ hộp và không rách nát. Sạc, phụ kiện và các sản phẩm khuyến mại đi kèm theo vẫn còn đầy đủ (nếu có).<br>
      – Sản phẩm không móp, không méo, không trầy xước và không ngấm chất lỏng.<br>
      – Tổng quan còn đủ điều kiện bảo hành chính hãng.<br>
      – Sẽ được hỗ trợ nhanh và đầy đủ việc thu hồi hóa đơn VAT (nếu có)</p>
    <ol start="4">
      <li><strong> Quy định các dòng sản phẩm được áp dụng chính sách:</strong></li>
    </ol>
    <p><strong><em>4.1 Danh sách sản phẩm được nhập lại</em></strong></p>
    <p>– Các dòng laptop.<br>
      – Các dòng PC đồng bộ Hãng và PC Tech Shop.<br>
      – Các dòng linh kiện cao cấp: Main; Chip; Ram; Ổ cứng; Nguồn, VGA.<br>
      – Các dòng màn hình.<br>
      – Các loại thiết bị mạng.<br>
      – Các loại phím, chuột cao cấp (có giá trên 1 triệu).</p>
    <p><strong><em>4.2 Dòng sản phẩm không nhập lại</em></strong></p>
    <p>– Các sản phẩm đặt riêng theo yêu cầu.<br>
      – Các sản phẩm không nằm trong “danh sách được nhập lại” tại mục&nbsp;4.1<br>
      – Các nhóm hàng đặc biệt theo thỏa thuận.</p>
    <p><em><strong>Mọi thắc mắc xin Quý Khách vui lòng liên hệ với Tech Shop qua hotline 0236 38355 66 hoặc fanpage Tech Shop trên facebook</strong></em></p>
    <p>&nbsp;</p>
  </article>
  <!-- /article -->
</div>
